body{
    height: 100%;
    margin: 0;
    display:-ms-flexbox;
    justify-content: center;
    align-items: center;
}
.top{
    display:flex;
    justify-content: space-between;
    align-items:center;
    border: 1px solid #000;
    padding: 10px;
    background-color: rgb(168, 169, 173);
    font-size: larger;
}
.right{
    display: flex;
    justify-content: start;
    gap: 50px;
    text-decoration: underline;
}
.left{
    display: flex;
    justify-content:end;
    gap: 10px;
}
.Photo{
    display: flex;
    height: 90vh;
    border: 1px solid#000;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    row-gap:none;
    background-color: #b9fc8f;
}
.Photo img{
    padding-top: 20px;
    width: 300px;
    height: 300px;
    border: 1px solid#000000;
    clip-path: circle(45%);
}